.Home {
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - (2% + 2%));
  width: 100%;
  background: #1e1e1e;
  color: #ccc;
}

.input-output-container {
  display: flex;
  width: 100%;
  height: 100%;
}
